* {
    margin: 0 0;
    padding: 0 0;
}

html {
    background-color: #948f8f;
}

.message {
    background-color: #333;
    color: #fff;
    padding: 16px;
}

.message span {
    background-color: gold;
    padding: 0 8px;
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.modal .modal__loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal__loading p {
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.modal .modal__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
}

.modal__content div {
    text-align: center;
    padding: 8px;
    margin-top: 8px;
}

.modal__content button {
    border: none;
    box-shadow: none;
    color: #fff;
    padding: 8px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.modal__content button::hover {
    cursor: pointer;
}

.modal__content .modal__button--yellow {
    background-color: #f1ec54;
}

.modal__content .modal__button--red {
    background-color: #c72626;
}

.container {
    display: flex;
    flex-direction: row;
}

.table-chess {
    width: 450px;
    height: 450px;
    margin-top: 16px;
    transform: translateX(50%);
}

.table-chess .row {
    display: flex;
    flex-direction: row;
}

.table-chess .row .block {
    width: calc(450px / 8);
    height: calc(450px / 8);
    background-color: #ddd;
}

.row:nth-of-type(2n + 1) .block:nth-of-type(2n + 1) {
    background-color: #000;
}

.row:nth-of-type(2n) .block:nth-of-type(2n) {
    background-color: #000;
}

.block {
    text-align: center;
    transition: 0.2s;
}

.highlight {
    box-shadow: 0 0 1px 3px #216ef3;
    transform: scale(1.1);
    background-color: #216ef3 !important;
    opacity: 0.8;
}

.highlight-danger {
    animation: boxLight 1s ease-in-out;
}

.highlight span {
    color: #fff !important;
}

.block .y, .block .r {
    font-size: 2.5rem;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.block .y {
    color: #f1ec54;
}

.block .r {
    color: #eb2929;
}

.kill-counter {
    width: 250px;
    background-color: #333;
    min-height: calc(100vh - 89px);
}

.kill-counter h3 {
    color: #fff;
    text-align: center;
    margin: 16px 0;
}

.kill-counter .kill-zone {
    border: 1px dashed #fff;
    margin-bottom: 16px;
}

.kill-zone .mdi {
    color: #fff;
    font-size: 2rem;
}

@keyframes boxLight {
    from{}
    to {
        background-color: #c72626;
        color: #fff;
    }
}

@media only screen and (max-width: 920px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .kill-counter {
        min-height: 0;
        width: 100vw;
    }

    .kill-counter .kill-zone {
        border: none;
    }

    .table-chess {
        height: 300px;
        width: 300px;
        transform: translateX(0);
        margin-bottom: 16px;
    }

    .table-chess .row .block {
        width: calc(300px / 8);
        height: calc(300px / 8);
        background-color: #ddd;
    }

    .block .y, .block .r {
        font-size: 1.65rem;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    }
}